##########################################################################
# .gitconfig
##########################################################################
[user]
  name = kotaro takahashi
  email = kotaro.t@k4h4shi.com
[color]
  status = auto
  diff = auto
  branch = auto
  grep = auto
[push]
  default = tracking
[core]
  excludesfile = ~/.gitignore_global
  autocrlf = input
  editor = vim
[alias]

[ghq]
  root = ~/src
[hub]
  protocol = https
