[submodule ".vim/bundle/neobundle.vim"]
	path = .vim/bundle/neobundle.vim
  url = https://github.com/Shougo/neobundle.vim
  ignore = dirty
[submodule ".tmux/plugins/tpm"]
	path = .tmux/plugins/tpm
  url = https://github.com/tmux-plugins/tpm
  ignore = dirty
[submodule ".vim/tmp/solarized"]
	path = .vim/tmp/solarized
  url = https://github.com/altercation/vim-colors-solarized.git
  ignore = dirty
